.container-library {
  color: white;
  margin-left: 1%;

}

:host {
}

.item-container {
  background-color: rgba(-255,-255,-255,0.2);
  border-bottom: black solid;
  margin: 0;
  padding-right: 5%;

}
.item {
  margin: 0;
  padding: 0;
  border: none;
}

.item-name {
  color: white;
}



.item-date {
  color: white;
  text-align: right;
  float: right;
  height: 100%;
}

.admin-edit {
  font-size: 200%;
  margin: 4%;
}

.admin-delete {
  font-size: 200%;
  margin: 4%;
}

.library-filters {
  margin: 0;
  padding: 0;
}

.item {
  background-color: rgba(255,255,255,0.05);
  width: 100%;
}

.item-desc {
  color: darkgray;
  text-align: left;
}

.item-image {
  height: 12vh;
  width: 12vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.btn-item :hover {
  background-color: darkslategray;
}
/*img {*/
/*  height: 10vh;*/
/*  width: 10vh;*/
/*}*/
