.main-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.survey-container {
  width: 100%;
  padding-top: 15%;
  margin: 0;
  text-align: center;

}

.query-label {
  color: white;
  font-weight: bold;
  font-size: 1.5vh;
}

.query-question {
  padding-bottom: 2%;
}
